*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea
/.gradle
/app/build

# Fastlane json key seret
google-play-android-developer-*.json
