*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.gradle
/app/build

# fabric secret key
/app/fabric.properties

# FCM key
/app/google-services.json

# google map key
/app/src/debug
/app/src/release

# password key
/gradle.properties

# Fastlane json key seret
google-play-android-developer-*.json

# Fastlane report
fastlane/report.xml

# Keystore
android.jks

# dotenv files
.env*

### https://raw.github.com/github/gitignore/5f15ed83c7a3d5db29845edae5205ca2d795c3d8/Global/macos.gitignore

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
