*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/.gradle
/app/build

# fabric secret key
/app/fabric.properties

# FCM key
/app/google-services.json

# google map key
/app/src/debug
/app/src/release

# password key
/gradle.properties

# Fastlane json key seret
google-play-android-developer-*.json

# Fastlane report
fastlane/report.xml

# Keystore
android.jks
