<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.tonish.hozo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.HozoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".fcm.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostATaskActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.other.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.ConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.NADActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.other.ProfileActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a5706b90dc87e8fd7eb3b77dfb9f0ae4e43bc71d" />
    </application>

</manifest>