<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.tonish.hozo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="vn.tonish.hozo.application.HozoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="vn.tonish.hozo.activity.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.tonish.vn"
                    android:pathPrefix="/hozo"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>

        </activity>


        <activity
            android:name="vn.tonish.hozo.activity.MakeAnOfferActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity.PostATaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AdvanceSettingsActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".activity.other.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.other.ShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PostATaskMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PostATaskFinishActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ImageSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--<activity-->
        <!--android:name=".activity.MakeAnOfferActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="stateHidden" />-->

        <activity
            android:name=".activity.setting.TimeSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.setting.AgeSettingActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".activity.other.AboutActivity" />
        <activity android:name=".activity.other.ConditionActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.setting.FeeActivity" />
        <activity android:name=".activity.other.HistoryActivity" />
        <activity android:name=".activity.other.InfoActivity" />
        <activity android:name=".activity.other.NADActivity" />
        <activity android:name=".activity.other.PaymentActivity" />
        <activity android:name=".activity.setting.SexActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.setting.WorkTypeActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBPbEgWfBIyEQ-LPB28kM_BF_2urrGNqz8" />

        <service android:name="vn.tonish.hozo.fcm.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="vn.tonish.hozo.fcm.MyFireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a5706b90dc87e8fd7eb3b77dfb9f0ae4e43bc71d" />
    </application>

</manifest>